* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font: 'Roboto';
}

body {
    margin: 0 auto;
}

section.header, footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

section.header {
    padding: 8px;
}

/* Header Layout */
.header header {
    display: flex;
    justify-content: space-around;
}

.nav {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}