/* Default styles */
* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

section.banner {
    background: #1F2937;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 16px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav li, .hero-section p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.button, .action {
    background: #3882F6;
    color: #FFFFFF;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

section.testimonial {
    background: #E5E7EB;

}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
}

.author {
    font-size: 24px;
    font-weight: 900;
}

/* Header Layout */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 16px;
}


/* Banner layout */

.hero-section {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin: 80px 0;
}

.hero-section div {
    flex: 1;
}

.left p {
    margin: 8px auto;
}

.right {
    text-align: center;
    align-content: center;
    background: #98999b;
    color: #E5E7EB;
}

.button {
    width: 100px;
    flex: 1 0 100px;
    text-align: center;
    padding: 2px 12px;
    border-radius: 6px;
}


/* Information Section Layout */

section.information {
    margin: 48px 0 100px 0;
}

.info-header {
    margin-bottom: 24px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin: 48px 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    width: 160px;
}

.card-img {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    outline: 4px solid #3882F6;
    border-radius: 6px;
}

.card-text {
    text-align:justify;
    text-align-last: center;
}


/* Testimonials Layout */

.testimonial {
    padding: 100px 80px;
}
.quote {
    margin: 0 auto;
    width: 70%;
}
.author {
    display: block;
    text-align: end;
}


/* Call-to-Action Layout */

section.call-to-action {
    outline: 2px solid blue;
    padding: 80px;
}

.call-to-action .action {
    padding: 28px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    gap: 16px;
}

.action-main-text {
    font-weight: 900;
}

.action-subtext {
    color: #E5E7EB;
}

.call-to-action .button{
    width: 100px;
    flex: 0 0 100px;
    text-align: center;
    padding: 2px 12px;
    align-content: center;
    outline: 2px solid #F9FAF8;
}
